
extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                |Free-wifi was created to help people find places nearby
                |with wifi to sit down there and get there work done.