extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1 Free-Wifi
                    small &nbsp; Find places to work with wifi near you.
        .row
            .col-xs-12.col-sm-8
                .row.list-group
                    .col-xs-12.list-group-item
                        h4
                            a(href="/location")&nbsp;[1] Coffee World
                            small &nbsp;
                                spane.average-ratings 3.0 &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-up &nbsp;
                                span.reviews 50 reviews
                            .span.badge.pull-right.badge-default 100m
                        p.address RDB Boulevard, Block EP - GP, Sector 5, Salt Lake, East Kolkata, Kolkata, West-Bengal - 700098
                        p
                            span.label.label-warning Hot Drinks
                            | &nbsp;
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br
                        h4 
                            a(href="/location")&nbsp;[2] Cafe-Coffee-Day
                            small &nbsp;
                                span.average-ratings 4.0 &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-up &nbsp;
                                span.reviews 19 reviews
                            .span.badge.pull-right.badge-default 150m
                        p.address Mani Square, No.164/1, Maniktala, Eastern Metropolitan Bypass, Kolkata, West-Bengal - 700054
                        p
                            span.label.label-warning Hot Drinks
                            | &nbsp;
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br
                        h4 
                            a(href="/location")&nbsp;[3] Barista Lavazza
                            small &nbsp;
                                span.average-ratings 1.0 &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-down &nbsp;
                                span.reviews 10 reviews
                            .span.badge.pull-right.badge-default 198m
                        p.address Block EP & GP, Sector V, Bidhan Nagar, 24 Pgns, Salt Lake, Kolkata, West-Bengal - 700064
                        p
                            span.label.label-warning Hot Drinks
                            | &nbsp;
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br
                        h4 
                            a(href="/location")&nbsp;[4] The Coffee Bean & Tea Leaf
                            small &nbsp;
                                span.average-ratings 5.0 &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-up &nbsp;
                                span.reviews 16 reviews
                            .span.badge.pull-right.badge-default 300m
                        p.address 2nd Floor, Quest Mall, 33, Syed Amir Ali Avenue, Beck Bagan, Ballygunge, Kolkata, West-Bengal - 700017
                        p
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br

            .col-xs-12.col-sm-4
                p.lead Looking for Wifi and a Seat? Free-Wifi helps you find places to work when out and about. Perhaps with coffee or a cake. Let Free-Wifi help you find the place you're looking for.
