extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1 Free-Wifi
                    small &nbsp; Find places to work with wifi near you.
        .row
            .col-xs-12.col-sm-8
                .row.list-group
                    .col-xs-12.list-group-item
                        h4
                            a(href="/location")&nbsp;[1] Startcups
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-up
                            .span.badge.pull-right.badge-default 100m
                        p.address 125 High Street, Reading, RG6 1PS
                        p
                            span.label.label-warning Hot Drinks
                            | &nbsp;
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br
                        h4 
                            a(href="/location")&nbsp;[2] Coffe-Heaven
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-up
                            .span.badge.pull-right.badge-default 100m
                        p.address 125 High Street, Reading, RG6 1PS
                        p
                            span.label.label-warning Hot Drinks
                            | &nbsp;
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br
                        h4 
                            a(href="/location")&nbsp;[3] Yummy-Tummy
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-down
                            .span.badge.pull-right.badge-default 100m
                        p.address 125 High Street, Reading, RG6 1PS
                        p
                            span.label.label-warning Hot Drinks
                            | &nbsp;
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br
                        h4 
                            a(href="/location")&nbsp;[4] Cafe Coffee Day
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                &nbsp;
                                span.glyphicon.glyphicon-thumbs-up
                            .span.badge.pull-right.badge-default 100m
                        p.address 125 High Street, Reading, RG6 1PS
                        p
                            span.label.label-warning Food
                            | &nbsp;
                            span.label.label-warning Premium Wifi
                        br

            .col-xs-12.col-sm-4
                p.lead Looking for Wifi and a Seat? Free-Wifi helps you find places to work when out and about. Perhaps with coffee or a cake. Let Free-Wifi help you find the place you're looking for.
